


<div class="container">
  <form #todoForm="ngForm" (ngSubmit)="todoSubmit(todoForm.value);todoForm.resetForm()" >
    <div class="form-group">
      <h1 class="text-center text-primary">To-do App</h1>
      <div class="input-group-prepend">
        <input type="text" #todo class="form-control" placeholder="Add  To-do" name="todo" ngModel>
        <span class="input-group-text" (click)="addTodo(todo.value)">
          <i class="material-icons">add</i>
        </span>
      </div>
    </div>
    <div class="data">
      <ul class="list-instyled">
        <!-- <li *ngFor="let todo of todoArray">{{todo}}
          <i class="material-icons" (click)="deleteItem(todo)" >delete</i> -->
          <!-- (above has issues if two have the same value.  Deletes multiple at a time) -->
        <li [@moveInLeft] *ngFor="let todo of todoArray; index as i;">{{todo}}
            <i class="material-icons" (click)="deleteItem(i)" >delete</i> 
        </li>
      </ul>
    </div>
  </form>



  <!-- <div><p>{{todo.value}}</p></div> -->

</div>






<router-outlet></router-outlet>
